 Importing Dependencies

In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#Loading the dataset to a Pandas dataframe

In [10]:
data = pd.read_csv('creditcard.csv', error_bad_lines=False)

b'Skipping line 1987: expected 31 fields, saw 38\nSkipping line 5954: expected 31 fields, saw 41\nSkipping line 9936: expected 31 fields, saw 46\nSkipping line 11917: expected 31 fields, saw 40\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [13]:
data.info() #checking on the info of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37692 entries, 0 to 37691
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    37692 non-null  int64
 1   V1      37692 non-null  float64
 2   V2      37692 non-null  float64
 3   V3      37692 non-null  float64
 4   V4      37692 non-null  float64
 5   V5      37692 non-null  object
 6   V6      37692 non-null  float64
 7   V7      37692 non-null  float64
 8   V8      37692 non-null  float64
 9   V9      37692 non-null  float64
 10  V10     37692 non-null  float64
 11  V11     37690 non-null  float64
 12  V12     37690 non-null  float64
 13  V13     37690 non-null  float64
 14  V14     37690 non-null  float64
 15  V15     37690 non-null  float64
 16  V16     37690 non-null  float64
 17  V17     37690 non-null  float64
 18  V18     37690 non-null  float64
 19  V19     37689 non-null  float64
 20  V20     37689 non-null  float64
 21  V21     37689 non-null  float64
 22  V22     37688 non-null  float64
 23  V23     37688 non-null  float64
 24  V24     37688 non-null  float64
 25  V25     37688 non-null  float64
 26  V26     37688 non-null  float64
 27  V27     37688 non-null  float64
 28  V28     37687 non-null  float64
 29  Amount  37687 non-null  float64
 30  Class   37686 non-null  float64
dtypes: float64(29), int64(1), object(1)
memory usage: 8.9+ MB

In [14]:
#checking the number of missing values 
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       2
V12       2
V13       2
V14       2
V15       2
V16       2
V17       2
V18       2
V19       3
V20       3
V21       3
V22       4
V23       4
V24       4
V25       4
V26       4
V27       4
V28       5
Amount    5
Class     6
dtype: int64

#Imputing all the missing values in data and filling the missing values
##There are many missing values in the columns V11-V28 , Amount and Class
##Handling the missing values to tackle the errors that will occur while processing and to avoid the drop in accuracy og the regression model

In [18]:
#The columns containing missing values are handled seperate and the missing values are filled with their mean values
data["V11"] = data["V11"].replace(np.NaN, data["V11"].mean())
data["V12"] = data["V12"].replace(np.NaN, data["V12"].mean())
data["V13"] = data["V13"].replace(np.NaN, data["V13"].mean())
data["V14"] = data["V14"].replace(np.NaN, data["V14"].mean())
data["V15"] = data["V15"].replace(np.NaN, data["V15"].mean())
data["V16"] = data["V16"].replace(np.NaN, data["V16"].mean())
data["V17"] = data["V17"].replace(np.NaN, data["V17"].mean())
data["V18"] = data["V18"].replace(np.NaN, data["V18"].mean())
data["V19"] = data["V19"].replace(np.NaN, data["V19"].mean())
data["V20"] = data["V20"].replace(np.NaN, data["V20"].mean())
data["V21"] = data["V21"].replace(np.NaN, data["V21"].mean())
data["V22"] = data["V22"].replace(np.NaN, data["V22"].mean())
data["V23"] = data["V23"].replace(np.NaN, data["V23"].mean())
data["V24"] = data["V24"].replace(np.NaN, data["V24"].mean())
data["V25"] = data["V25"].replace(np.NaN, data["V25"].mean())
data["V26"] = data["V26"].replace(np.NaN, data["V26"].mean())
data["V27"] = data["V27"].replace(np.NaN, data["V27"].mean())
data["V28"] = data["V28"].replace(np.NaN, data["V28"].mean())
data["Amount"] = data["Amount"].replace(np.NaN, data["Amount"].mean())
data["Class"] = data["Class"].replace(np.NaN, data["Class"].mean())

data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [20]:
# distribution of legit transaction and fraudulent transaction
data['Class'].value_counts()

0.00000    37582
1.00000      104
0.00276        6
Name: Class, dtype: int64

This dataset is highly imbalanced as

0 ---> Normal Transaction

1 ---> Fradulent Transaction

In [22]:
#seperating the data for analysis
legit = data[data.Class == 0]
fraud = data[data.Class == 1]
print(legit.shape)
print(fraud.shape)

(37582, 31)
(104, 31)

In [23]:
#statistical measures of the data
legit.Amount.describe()

count    37582.000000
mean        97.744101
std        285.974664
min          0.000000
25%          7.530000
50%         26.435000
75%         87.522500
max      19656.530000
Name: Amount, dtype: float64

In [24]:
fraud.Amount.describe()

count     104.000000
mean       92.275000
std       229.244591
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [25]:
#comparing legit and fraud transactions
data.groupby('Class').mean()

                 Time        V1        V2  ...       V27       V28     Amount
Class                                      ...
0.00000  34843.602895 -0.262352 -0.019398  ... -0.004871  0.003992  97.744101
0.00276  33431.000000  0.078820  0.355636  ...  0.017067  6.956126  81.438679
1.00000  30936.865385 -4.515735  3.923154  ...  0.313995  0.095544  92.275000

[3 rows x 29 columns]

#Under-sampling of data containing similar distribution of normal transactions and fradulent transactions

In [27]:
legit_sample = legit.sample(n = 104)

#Concatinating two data frames

In [28]:
data1 = pd.concat([legit_sample , fraud], axis = 0)

In [29]:
data1.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
36974  51283  0.064480 -0.423454  0.569050  ...  0.271369  0.049178   22.50    0.0
4428    2016  1.036071  0.010580  1.316595  ...  0.077517  0.049019   45.00    0.0
17382  14010  1.265987  0.356182  0.168989  ... -0.058373  0.005802    0.99    0.0
25143  45708 -0.515571  0.728918  1.323575  ...  0.158937  0.165940   46.00    0.0
26983  46595 -0.763677  0.930581  1.352257  ... -0.223021  0.082566   49.95    0.0

[5 rows x 31 columns]

In [32]:
data1['Class'].value_counts()

1.0    104
0.0    104
Name: Class, dtype: int64

In [33]:
data1.groupby('Class').mean() #checking whether the sample is good or bad

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    35562.500000 -0.193455  0.147624  ...  0.023416 -0.029103  88.030288
1.0    30936.865385 -4.515735  3.923154  ...  0.313995  0.095544  92.275000

[2 rows x 29 columns]

#Splitting the data into features and target

In [34]:
x = data1.drop('Class',axis = 1)
y = data1['Class']

In [35]:
print(x)

        Time         V1        V2  ...       V27       V28 Amount
36974  51283   0.064480 -0.423454  ...  0.271369  0.049178  22.50
4428    2016   1.036071  0.010580  ...  0.077517  0.049019  45.00
17382  14010   1.265987  0.356182  ... -0.058373  0.005802   0.99
25143  45708  -0.515571  0.728918  ...  0.158937  0.165940  46.00
26983  46595  -0.763677  0.930581  ... -0.223021  0.082566  49.95
...      ...        ...       ...  ...       ...       ...    ...
35660  50706  -8.461845  6.866198  ...  1.170027  0.229301  99.99
35873  50808  -9.169790  7.092197  ...  1.159690  0.232758  99.99
36568  51112  -9.848776  7.365546  ...  1.134095  0.225973  99.99
36650  51135 -10.527304  7.639745  ...  1.108897  0.219021  99.99
36699  51155 -11.205461  7.914633  ...  1.084023  0.211933  99.99

[208 rows x 30 columns]

In [36]:
print(y)

36974    0.0
4428     0.0
17382    0.0
25143    0.0
26983    0.0
        ...
35660    1.0
35873    1.0
36568    1.0
36650    1.0
36699    1.0
Name: Class, Length: 208, dtype: float64

#Splitting the data into test and train data

In [38]:
xtrain, xtest, ytrain, ytest = train_test_split(x , y ,test_size =0.2, stratify = y, random_state=2)

In [40]:
print(xtrain.shape , xtest.shape)

(166, 30) (42, 30)

#Logistic regression model training

In [41]:
model = LogisticRegression()

In [43]:
#Training model with train data 
model.fit(xtrain , ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

Accuracy score

In [45]:
#accuracy on training data
xtrain_predict = model.predict(xtrain)
training_data_accuracy = accuracy_score(xtrain_predict, ytrain)

In [47]:
print("Accuracy on training data:" ,  training_data_accuracy)

Accuracy on training data: 0.963855421686747

#Accuracy is 96% for the current logistic regression model with the training data

In [48]:
#Accuracy on test data
xtest_predict = model.predict(xtest)
test_data_accuracy = accuracy_score(xtest_predict, ytest)

In [49]:
print("Accuracy on test:" , test_data_accuracy)

Accuracy on test: 1.0

#Accuracy achieved in test data exceeds that of the training data accuracy so the model is a underfit model and makes more generalised learning on test data

In [50]:
ccd = model.predict(xtest) #predicting the outcomes of the test values.

In [51]:
ccd[10] # if it displays 1 then the transaction is a fraudulent one and if it displays 0 then it is a legit transaction.

1.0

In [52]:
ccd[9]

1.0

In [53]:
ccd[1]

0.0